$primary-color: linear-gradient(50deg ,#e66465, #9198e5);
$secondary-color:linear-gradient(50deg, #9198e5,#e66465);
$color-white: #fff;
$background-color:#f9f9f9;
$border-radius: 47px;
$flex-row: row;
$flex-column: column;
$primary-justify: center;
$secondary-justify: space-between;
$primary-align: center;
$secondary-align: flex-start;